$red: #e50914;
$opa-black: rgba(0, 0, 0, 0.5);
$opa-white: rgba(255, 255, 255, 0.5);

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @mixin fontStyle {
//   font-weight: 400;
//   font-style: italic;
// }
