.backgroundContainer {
  width: 100vw;
  height: 100vh;
  /* text-align: center; */
  background: #111111 url("../images/bckg.jpg") no-repeat center/cover;
  z-index: -1;
  position: fixed;
}
* {
  margin: 0;
  box-sizing: border-box;
}
