@import "abstracts";

.section__movies {
  padding-top: 12vh; // height 10vh on home page and become smaller on other pages
}
.movies__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.movies__tit {
  color: #fff;
  margin: 0 1.4em;
  font-size: 2em;
}

.movies__btn {
  @include flex;
  margin-right: 1em;
  font-size: 1em;
  padding: 0.2em 0.4em 0.2em 1em;
  border: 0.5px solid #fff;
  border-radius: 0.6em;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    color: #ccc;
  }
}

.movies__btn:last-child {
  position: absolute;
  right: 1em;
}
