@import "abstracts";

.section__movies,
.section__tvshows {
  padding-top: 12vh; // height 10vh on home page and become smaller on other pages
  display: flex;
  flex-direction: column;
}
.movies__header,
.tvshows__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.movies__tit,
.tvshows__tit {
  color: #fff;
  margin: 0 1.4em;
  font-size: 2em;
}

.movies__btn,
.tvshows__btn {
  @include flex;
  margin-right: 1em;
  font-size: 1em;
  padding: 0.2em 0.4em 0.2em 1em;
  border: 0.5px solid #fff;
  border-radius: 0.6em;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    color: #ccc;
  }
}

.movies__btn:last-child,
.tvshows__btn:last-child {
  position: absolute;
  right: 1em;
}

.movies__btn-more {
  padding: 0.3em 2em;
  margin: 1em auto;
  font-size: 1.2em;
  border: 1px solid $opa-white;
  border-radius: 3em;
  background-color: $opa-black;
  color: #ddd;
  font-family: $font;
  &:hover {
    cursor: pointer;
  }
  &:active {
    color: #ccc;
    transform: scale(0.98);
  }
  &:focus {
    outline: none;
  }
}
